<%=will_paginate @cmd %>
<center class="commants">
<table class="table table-hover" >
	<thead class="thead">
		<tr>
			<th>Username</th>
			<th>Comments</th>
			<th>Email</th>
			<th>Image</th>
			<th>Action</th>
		</tr>
	</thead>

	<tbody class="tbody">
    <%@cmd.map do|cd|%>
        <tr>
        	<td><%=cd.username%></td>
			<td><%=cd.comments%></td>
			<td><%= cd.fieldname%></td>	
			<td><%=image_tag cd.photo.image, :class=>"image"%></td>
			<div class="action">
			<td><%if cd.status==0 %>
					<%=button_to "Accept comment", users_accept_path(cd), :method => "get",:class=>"btn btn-primary"%>
				   <%else%>
				   <%=button_to "Delete Comment", users_deletecmd_path(cd), :method => "get",:class=>"btn btn-danger"%>
				   <%end%>
					</td>
              </div>
        </tr>
    <% end %>
  </tbody>
</table>
<center><%= link_to 'Back', photos_path, class: "btn btn-success" %></center>
</center>


<style>
	.image{
		height: 100px;
		width: 100px;
	}
</style>