<%= form_for @photo, html: {multipart: true } do |f| %>

  <% if @photo.errors.any? %>
  <div class="new-add">
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <from class="from-group">
  <div class="field row ">

    <%= f.label :title, class: "form-label col-md-2" %>
    <%= f.text_field :title, class: "form-control col-md-10",:required => true %>
  </div>

  <div class="field row">
    <%= f.label :content, class: "form-label col-md-2" %>
   <%= f.cktext_area :content, class: "form-control col-md-10",:required=> true %>
  </div>

  <!-- <div class="field">
    <-%= f.label :user_id %>
    <-%= f.text_field :user_id %>
  </div> --> 
  <%unless @photo.image.present?%>
  <div class="field row">
    <%= f.label :image, class: "col-md-2" %>
    <%= f.file_field :image, class: "col-md-10", required: :true%>
  </div>
<%end%>
  <div class="actions">
    <%= f.submit :submit, class: "btn btn-success" %>
  <div class="show-back-btn">
    <%if params[:id]==nil%>
    <%= link_to 'Show', @photo, class: "btn btn-success" %> 
    <%end%>
    <%= link_to 'Back', photos_path, class: "btn btn-success" %>    
  </div>    
  </div>

<% end %>
</from>
</div>





