<div class="show">
<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Image:</strong>
  <%=image_tag @photo.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>


  <strong>Content:</strong>
  <%= @photo.content %>



  <strong>User:</strong>
  <%#= @photo.user.name %>
 -->


<section id="how_works" class="first">
    <div class="container">
        <h1>Blog</h1>

          <div class="blog_single">
          <h2> <%= @photo.title %> </h2>
          <ul>
            <li><i class="fa fa-calendar" aria-hidden="true"></i>Aug 16, 2017</li>
            <li><i class="fa fa-user" aria-hidden="true"></i><%= @photo.user.name %></li>
            <li><i class="fa fa-comments" aria-hidden="true"></i>5 Comments</li>
          </ul>
         <%=image_tag @photo.image %>

         <p> <%= @photo.content.html_safe %> </p>
       <!-- <a href="blog.html" class="btn btn-success btn-pink-border"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a> -->
          </div>
          <div class="show-button">
    <%= link_to 'Edit', edit_photo_path(@photo), class: "btn btn-success" %> 
<%= link_to 'Back', photos_path, class: "btn btn-success" %>
</div>
    </div>
</section>	
</div>
